{% extends 'base.html' %}
{% block title %}Remote Pantry Add Item{% endblock %}
{% block content %}

<h3>Add a new item to the pantry:</h3>

<form action="add_item" method="POST">
    <label>Add to pantry-><input type="checkbox" name="pantry" value="True" checked></label>
    <label>Add to shopping list-><input type="checkbox" name="shop" value="True"></label>
    
    <br>

    <div>
        Name <input type="text" name="name">
        <button type="button" onclick="alert('oops not built yet!')">Barcode</button>
    </div>

    <div>
        Location:
        {% for loc in user_locs %}
        <label><input type="radio" name="location" value="{{ loc.location_id }}" required>{{ loc.location_name }}</label>
        {% endfor %}
    </div>

    <div>
        Expires in <input type="number" name="exp"> days (optional)
    </div>

    <br>

    <input type="submit">
</form>

<h3>Or add a new location:</h3>
<form action="add_loc" method="POST">
    <div>
        New location <input type="text" name="loc">
    </div>
    <input type="submit">
</form>
<a href="/edit_locs">Edit your locations</a>
{% endblock %}