{% extends 'base.html' %}
{% set active_page = "add" %}
{% block title %}Remote Pantry Add Item{% endblock %}
{% block content %}

<h3>Add a new item to the pantry:</h3>

<form action="add_item" method="POST">
    <div class="checkbox">
        <label><input type="checkbox" name="pantry" value="True" checked>Add to pantry</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="shop" value="True">Add to shopping list</label>
    </div>
    <div class="form-inline">
        <label>Name: <input type="text" class="form-control" name="name"></label>
        <button type="submit" class="btn btn-default" onclick="alert('oops not built yet!')">Barcode</button>
    </div>
    <div class="form-inline">
        <label>Location:  </label>
        {% for loc in user_locs %}
            <label class="radio-inline"><input type="radio" name="location" value="{{ loc.location_id }}" required>{{ loc.location_name }}</label>
        {% endfor %}
    </div>
    <div class="form-inline">
        <label>Expires in: <input type="number" class="form-control" name="exp"> days (optional)</label>
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>

<h3>Or add a new location:</h3>
<form action="add_loc" method="POST">
    <div class="form-inline">
        <label>New location: <input type="text" class="form-control" name="loc"></label>
    </div>
        <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}