{% extends 'base.html' %}
{% block title %}Remote Pantry Item Edit{% endblock %}
{% block content %}

<div><table>
<form action="/update/{{ item.pantry_id }}" method="POST">
    <caption>{{ item.name }}</caption>
    <tr>
        <th>field</th>
        <th>current</th>
        <th>update</th>
    </tr>

    <tr>
        <td>Name: </td>
        <td>
            {{ item.name }}
        </td>
        <td>
            <input type="text" name="name">
        </td>
    </tr>

    <tr>
        <td>In stock: </td>
        <td>
            {% if item.is_pantry == True %}
                <label>True<input type="checkbox" name="pantry" value="True" checked></label>
                <label>False<input type="checkbox" name="pantry" value="False"></label>
            {% else %}
                <label>True<input type="checkbox" name="pantry" value="True"></label>
                <label>False<input type="checkbox" name="pantry" value="False" checked></label>
            {% endif %}            
        </td>
    </tr>

    <tr>
        <td>On shopping list: </td>
        <td>
            {% if item.is_shopping == True %}
                <label>True<input type="checkbox" name="shop" value="True" checked></label>
                <label>False<input type="checkbox" name="shop" value="False"></label>
            {% else %}
                <label>True<input type="checkbox" name="shop" value="True"></label>
                <label>False<input type="checkbox" name="shop" value="False" checked></label>
            {% endif %}            
        </td>
    </tr>

    <tr>
        <td>Last purchased: </td>
        <td>
           {{ lp }}
        </td>
        <td>
            <input type="date" name="last_purch">
        </td>
    </tr>

    <tr>
        <td>Location: </td>
        <td>
        {% for loc in user_locs %}
            {% if item.location.location_id ==  loc.location_id%}
                <label><input type="radio" name="location" value="{{ loc.location_id }}"checked>{{ loc.location_name }}</label>
            {% else %}
                <label><input type="radio" name="location" value="{{ loc.location_id }}">{{ loc.location_name }}</label>
            {% endif %}
        {% endfor %}
        </td>
    </tr>

    <tr>
        <td>Expires in: </td>
        <td>
            {{ item.exp }} days
        </td>
        <td>
            <input type="number" name="exp">
        </td>
    </tr>

    <tr>
        <td>Description: </td>
        <td>
            {{ item.description }}
        </td>
        <td>
            <textarea name="description"></textarea>
        </td>
    </tr>

</table></div>

<br>

    <input type="submit" value="Update">
</form>


{% endblock %}