<!-- Remember to run secrets.sh in terminal before trying to access this page!! -->
{% extends 'base.html' %}
{% set active_page = "map" %}rm
{% block title %}Map{% endblock %}
{% block content %}

<!-- Guide Panel -->
<form action="/map_refresh">
<div id="guide" class="panel panel-default container-fluid" style="background-image: url(static/img/footer_lodyas.png); padding: 10px; background-position: center; margin-top: 30px;">
  <div class="panel-body">
    <div class="row">
        <div class="col-xs-8"> 
            Supermarkets within 1/2 mile that are open now:
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary pull-right" style="width: 160px;">Refresh</button>
        </div>
    </div>
  </div>
</div>
</form>

<!-- THE MAP -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
      /* Always set the map height explicitly to define the size of the div element that contains the map. */
      #groceryMap {
        height: 100%;
        color: black;
      }
      #groceryMap a {color: blue;}
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        padding-top: 25px;
      }
</style>
<script>

  var map, infoWindow, pos, hbhq, goldstar, starMarker, service, mapSettings, userLoc;

// location object, will use as default position if it can't locate user
hbhq = {lat: 37.788880, lng: -122.411493};

  // if we can geolocate, put that position into userLoc and build a map and marker around it
  function locSuccess(position=hbhq) {
    // assigning position coordinates
    userLoc = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    // required settings
    mapSettings = {
      center: userLoc,
      zoom: 16
    };
    // builds the map in the groceryMap div
    map = new google.maps.Map(document.getElementById('groceryMap'),mapSettings);
    infoWindow = new google.maps.InfoWindow();
    // custom shape to represent location marker
    goldStar = {
      path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
      fillColor: 'yellow',
      fillOpacity: 0.8,
      scale: 0.15,
      strokeColor: 'gold',
      strokeWeight: 3
    };
    // marker for user location
    starMarker = new google.maps.Marker({
      position: userLoc,
      icon: goldStar,
      animation: google.maps.Animation.DROP,
      map: map
    });
    // This is accessing places library, performs the search with the parameters
    service = new google.maps.places.PlacesService(map);
    // This is my request
    service.nearbySearch({
      location: userLoc,
      radius: 1000,
      keyword: 'grocery',
      openNow: true
    }, placeCallback);
  }

  // takes results from places library search, runs each through createMarker function
  function placeCallback(results, status) {
    console.log("I'm in the callback function!")
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      for (var i = 0; i < results.length; i++) {
        createMarker(results[i]);
      }
    }
  }

  // this makes the grocery markers from the result list from places library search
  function createMarker(place) {     
    console.log("I'm in the marker function!")
    var placeLoc = place.geometry.location;
    var marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location
    });
    // This allows a user to click a marker and see info about the place
    google.maps.event.addListener(marker, 'click', function() {
      var name = place.name;
      var placeid = place.place_id;
      var html = name + "</br><a target='_blank' href='http://www.google.com/maps/place/?q=place_id:" + placeid + "'> <span>View on Google Maps</span> </a>";
      infoWindow.setContent(html);
      infoWindow.open(map, this);
    });
  }

  // handles geolocation errors, used hbhq as default, builds map around it
  function handleLocationError(browserHasGeolocation, infoWindow, pos=hbhq) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }

  function locError(positionError) {
    console.log("error2");
    handleLocationError(false, infoWindow, hbhq);
  }

  // Map loading starts here, this is the first function called
  function locateUser() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(locSuccess);
    } else {
        // Browser doesn't support Geolocation
        console.log("error");
        handleLocationError(false, infoWindow, hbhq);
    }
  }

  // window.onload = locateUser;
</script>

<div id="groceryMap"></div>

<!-- Key passed from secrets.sh -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDGafwscE8zhZ3hghX6sx4e2y-mEnnPMQ&libraries=places&callback=locateUser" async defer></script>

{% endblock %}