{% extends 'base.html' %}
{% set active_page = "pantry" %}
{% block title %}Remote Pantry{% endblock %}
{% block content %}

<!-- Item Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a New Item</h4>
      </div>
      <div id="addform">
          <div class="modal-body">
            <form action="/add_item" method="POST">
                <div class="form-inline">
                    <label>Name:&nbsp;<input type="text" class="form-control" name="add_name" required></label>
                </div>
                <div class="form-inline">
                    <label>Location:&nbsp;</label>
                    {% for loc in user_locs %}
                        <label class="radio-inline"><input class="locadd" type="radio" name="add_loc" value="{{ loc.location_id }}" id="locAddButt-{{loc.location_id}}">{{ loc.location_name }}</label>
                    {% endfor %}
                </div>
                <div class="form-inline">
                    <label>Expires in:&nbsp;<input id="add_exp" type="number" class="form-control" name="add_exp"> days (optional)</label>
                </div>
          </div>
          <div class="modal-footer">
            <button id="addSubmit" data-dismiss="modal" type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Location Edit Modal -->
<div class="modal fade" id="locEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Location Name</h4>
      </div>
      <div id="locform">
          <div class="modal-body">
            <form action="/updatelocationformhandle" method="POST">
                <div class="form-inline">
                    <label>Name:&nbsp;<input type="text" class="form-control" name="new_name" id="new_name"></label>
                </div>
          </div>
          <div class="modal-footer">
            <button id="locSubmit" data-dismiss="modal" type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Foodstuff Edit Modal -->
<div class="modal fade" id="foodEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
      </div>
      <div id="foodform">
          <div class="modal-body">

            <form action="/updatepantryitem" method="POST">
            <div class="form-inline">
                <label>Name:&nbsp;<input type="text" class="form-control" name="name" id="nameField"></label>
            </div>
            <div class="form-inline">
                <label>On shopping list:&nbsp;</label>
                <label id="pantryTrue" class="radio-inline"><input type="radio" name="shop" value="True">True</label>
                <label id="pantryFalse" class="radio-inline"><input type="radio" name="shop" value="False">False</label>
            </div>
            <div class="form-inline">
                <label>Last Purchased:&nbsp;</label><span id="lastPurch"></span>
                <input type="date" class="form-control" name="last_purch">
            </div>
            <div class="form-inline">
                <label>Location:&nbsp;</label>
                {% for loc in user_locs %}
                    <label class="radio-inline"><input class="loc" type="radio" name="location" value="{{ loc.location_id }}" id="locButt-{{loc.location_id}}">{{ loc.location_name }}</label>
                {% endfor %}
            </div>
            <div class="form-inline">
                <label>Expires in:&nbsp;<input id="exp" type="number" class="form-control" name="exp">&nbsp;days</label>
            </div>
            <div class="form-group">
                <label>Description:&nbsp;</label>
                <textarea id="descript" name="description" class="form-control" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button id="foodSubmit" data-dismiss="modal" type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Pantry Panels -->
<form action="update" method="POST">
{% for key, val in pantry.iteritems() %}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        <div class="btn-group">
            <a href="/update/{{ key.location_id }}">
                <button type="button" class="btn btn-primary locEventListener" data-toggle="modal" data-target="#locEditModal" data-locid="{{ key.location_id }}" data-locname="{{ key.location_name }}">
                    <span id="locname-{{key.location_id}}">{{ key.location_name }}</span>
                    <span class="badge">{{ val|length }}</span>
                </button>
            </a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success addModalButt" data-toggle="modal" data-target="#addModal" data-addlocid="{{ key.location_id }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"
            ></span>
            </button>
        </div>
    </div>
    <div class="panel-body">
    <table class='table table-striped table-condensed'>
        <tr>
            <th>Name</th>
            <th>Out of Stock</th>
            <th>Add to Shopping List</th>
        </tr>
            {% for each in val %}
                <tr>
                    <td>
                        <a id="foodLink-{{each[1]}}" class="editFoodLink" data-toggle="modal" data-target="#foodEditModal" data-itemid="{{ each[1] }}" data-itemname="{{ each[0] }}">{{ each[0] }}</a>
                    </td>
                    <td>
                        <input type="checkbox" name="empty" data-toggle="toggle" data-on="Empty" data-off=" " data-size="mini" value="{{ each[1] }}">
                    </td>
                    <td>
                        <input type="checkbox" name="refill" data-toggle="toggle" data-on="Refill" data-off=" " data-size="mini" value="{{ each[1] }}">
                    </td>
                </tr>
            {% endfor %}
    </table>
    </div>
</div>
{% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
