{% extends 'base.html' %}
{% block title %}Remote Pantry{% endblock %}
{% block content %}

<form action="update" method="POST">
{% for key, val in pantry.iteritems() %}
<div><table>
    <caption><a href="/update/{{ key.location_id }}">{{ key.location_name }}</a></caption>
        <tr>
            <th>name</th>
            <th>out of stock</th>
            <th>add to shopping list</th>
        </tr>
            {% for each in val %}
                <tr>
                    <td>
                        <a href="/edit/{{ each[1] }}">{{ each[0] }}</a>
                    </td>
                    <td>
                        <input type="checkbox" name="empty" value="{{ each[1] }}">
                    </td>
                    <td>
                        <input type="checkbox" name="refill" value="{{ each[1] }}">
                    </td>
                </tr>
            {% endfor %}

</table></div>
{% endfor %}
    <br><br>
    <input type="submit">
</form>

{% endblock %}