{% extends 'base.html' %}
{% set active_page = "pantry" %}
{% block title %}Remote Pantry{% endblock %}
{% block content %}

<form action="update" method="POST">
{% for key, val in pantry.iteritems() %}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">
                {{ key.location_name }}
                <span class="badge">{{ val|length }}</span>
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
                <ul class="dropdown-menu">
                    <li><a href="/update/{{ key.location_id }}">Edit</a></li>
                </ul>
        </div>
    </div>
    <table class='table table-striped table-condensed'>
        <tr>
            <th>Name</th>
            <th>Out of Stock</th>
            <th>Add to Shopping List</th>
        </tr>
            {% for each in val %}
                <tr>
                    <td>
                        <a href="/edit/{{ each[1] }}">{{ each[0] }}</a>
                    </td>
                    <td>
                        <input type="checkbox" name="empty" value="{{ each[1] }}">
                    </td>
                    <td>
                        <input type="checkbox" name="refill" value="{{ each[1] }}">
                    </td>
                </tr>
            {% endfor %}
    </table>
</div>
{% endfor %}
    <br><br>
    <input type="submit">
</form>
{% endblock %}
