{% extends 'base.html' %}
{% set active_page = "store" %}
{% block title %}@Store{% endblock %}
{% block content %}

<form action="restock" method="POST">
<div><table>
    <caption>Shopping List</caption>
        <tr>
            <th>name</th>
            <th>refill</th>
            <th>exp (optional)</th>
        </tr>
        {% for foodstuff in shopping_list %}                
            <tr>
                <td>
                    {{ foodstuff.name }}
                </td>
                <td>
                    <input type="checkbox" name="refill" value="{{ foodstuff.pantry_id }}">
                </td>
                <td>
                    {% if foodstuff.exp != None %}
                    Expires in <input type="number" name="exp" placeholder="{{ foodstuff.exp }}"> days
                    {% else %}
                    Expires in <input type="number" name="exp"> days
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
</table></div>
    <br><br>
    <input type="submit">
</form>

{% endblock %}